<h1>Цены</h1>
<br>
<div class="row">
  <div class="col">
    <h3>Стоимость газовой блочно-модульной котельной</h3>
    <br>
    <table class="table table-striped text-black-50">
      <tr>
        <th>Мощность, Вт</th>
        <th>Цена котельной на 2-х котлах</th>
        <th>Цена котельной на 3-х котлах</th>
      </tr>
      <tr>
        <td>0,5</td>
        <td>от 5 500 000 ₽</td>
        <td>от 7 000 000 ₽</td>
      </tr>
      <tr>
        <td>1,0</td>
        <td>от 6 000 000 ₽</td>
        <td>от 7 500 000 ₽</td>
      </tr>
      <tr>
        <td>1,5</td>
        <td>от 6 500 000 ₽</td>
        <td>от 8 000 000 ₽</td>
      </tr>
      <tr>
        <td>2,0</td>
        <td>от 7 000 000 ₽</td>
        <td>от 8 500 000 ₽</td>
      </tr>
      <tr>
        <td>2,5</td>
        <td>от 7 500 000 ₽</td>
        <td>от 9 000 000 ₽</td>
      </tr>
      <tr>
        <td>3,0</td>
        <td>от 8 000 000 ₽</td>
        <td>от 9 500 000 ₽</td>
      </tr>
      <tr>
        <td>3,5</td>
        <td>от 8 500 000 ₽</td>
        <td>от 10 000 000 ₽</td>
      </tr>
      <tr>
        <td>4,0</td>
        <td>от 9 000 000 ₽</td>
        <td>от 10 500 000 ₽</td>
      </tr>
      <tr>
        <td>4,5</td>
        <td>от 9 500 000 ₽</td>
        <td>от 11 000 000 ₽</td>
      </tr>
      <tr>
        <td>5,0</td>
        <td>от 10 000 000 ₽</td>
        <td>от 11 500 000 ₽</td>
      </tr>
    </table>
  </div>
  <div class="col">
    <h3>Стоимость газовой модульной котельной</h3>
    <br>
    <table class="table table-striped text-black-50">
      <tr>
        <th>Мощность, Вт</th>
        <th>Цена котельной на 2-х котлах</th>
        <th>Цена котельной на 3-х котлах</th>
      </tr>
      <tr>
        <td>0,5</td>
        <td>от 5 500 000 ₽</td>
        <td>от 7 000 000 ₽</td>
      </tr>
      <tr>
        <td>1,0</td>
        <td>от 6 000 000 ₽</td>
        <td>от 7 500 000 ₽</td>
      </tr>
      <tr>
        <td>1,5</td>
        <td>от 6 500 000 ₽</td>
        <td>от 8 000 000 ₽</td>
      </tr>
      <tr>
        <td>2,0</td>
        <td>от 7 000 000 ₽</td>
        <td>от 8 500 000 ₽</td>
      </tr>
      <tr>
        <td>2,5</td>
        <td>от 7 500 000 ₽</td>
        <td>от 9 000 000 ₽</td>
      </tr>
      <tr>
        <td>3,0</td>
        <td>от 8 000 000 ₽</td>
        <td>от 9 500 000 ₽</td>
      </tr>
      <tr>
        <td>3,5</td>
        <td>от 8 500 000 ₽</td>
        <td>от 10 000 000 ₽</td>
      </tr>
      <tr>
        <td>4,0</td>
        <td>от 9 000 000 ₽</td>
        <td>от 10 500 000 ₽</td>
      </tr>
      <tr>
        <td>4,5</td>
        <td>от 9 500 000 ₽</td>
        <td>от 11 000 000 ₽</td>
      </tr>
      <tr>
        <td>5,0</td>
        <td>от 10 000 000 ₽</td>
        <td>от 11 500 000 ₽</td>
      </tr>
    </table>
  </div>
</div>
