<h1>Потенциальным партнерам</h1>
<br>
<div>
  Компания "Миг-Плюс" приглашает к сотрудничеству:<br>
  <ul>
    <li>Частных лиц</li>
    <li>Организации</li>
  </ul>
  <h5>Общие условия:</h5>
</div>
<ul>
  <li>комплексная информационная , административно – хозяйственная и рекламная поддержка</li>
  <li>выгодные финансовые схемы сотрудничества</li>
  <li>гарантия дилерского вознаграждения</li>
  <li>возможен выезд технического специалиста из центрального офиса для совместного ведения переговоров</li>
  <li>оперативная поддержка нашего технического специалиста</li>
  <li>подготовка коммерческого предложения в течение двух дней</li>
  <li>сервисная поддержка на протяжении всего периода эксплуатации установок.</li>
</ul>
Для начала диалога о сотрудничестве Вам необходимо связаться с нами, отправив предварительную информацию о себе
