<div class="main-container">
  <div class="second-container">
    <div class="row">
      <div class="col">
        <img class="flame" alt="" src="assets/img/kisspng-flame.png"/>
        <p class="text-info logo-text">ЗАО "КИПТЕХПРОМ"</p>
      </div>
      <div class="col text-info comp-info">
        +7(495)969-69-69<br>
        max@gmail.com
      </div>
    </div>
    <div class="menu-image">
      <div class="menu-container">
        <a routerLink="/" routerLinkActive #rl0="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
           class="btn {{ rl0.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Главная</a>
        <a routerLink="/services" routerLinkActive #rl1="routerLinkActive"
           class="btn {{ rl1.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Услуги</a>
        <a routerLink="/price" routerLinkActive #rl2="routerLinkActive"
           class="btn {{ rl2.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Цены</a>
        <a routerLink="/projects" routerLinkActive #rl3="routerLinkActive"
           class="btn {{ rl3.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Проекты</a>
        <a routerLink="/sertificates" routerLinkActive #rl4="routerLinkActive"
           class="btn {{ rl4.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Сертификаты</a>
        <a routerLink="/topartners" routerLinkActive #rl5="routerLinkActive"
           class="btn {{ rl5.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Партнерам</a>
        <a routerLink="/news" routerLinkActive #rl6="routerLinkActive"
           class="btn {{ rl6.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Новости</a>
        <a routerLink="/contact" routerLinkActive #rl7="routerLinkActive"
           class="btn {{ rl7.isActive ? ('btn-primary'): ('btn-secondary')}} btn-lg menu-button">Контакты</a>
      </div>
    </div>
    <div class="container text-black-50">


      <router-outlet></router-outlet>


    </div>
    <footer>
      <div class="row">
        <div class="col">
          <img class="flame" src="assets/img/kisspng-flame.png">
          <p class="text-info">&copy; Все права защищены 2019</p>
        </div>
        <div class="col text-info comp-info">
          +7(495)969-69-69<br>
          max@gmail.com
        </div>
      </div>
    </footer>
  </div>
</div>
