<h1>Услуги</h1>
<br>
<div class="row">
  <div class="col">
    <h5 style="text-decoration: underline">Строительство котельных</h5>
    <ul>
      <li>Газовые котельные</li>
      <li>Модульные котельные</li>
      <li>Дизельные котельные</li>
      <li>Промышленные котельные</li>
      <li>Блочно-модульные котельные</li>
      <li>Монтаж</li>
      <li>Модернизация и реконструкция</li>
    </ul>
  </div>
  <div class="col">
    <h5 style="text-decoration: underline">Обслуживание котельных</h5>
    <ul>
      <li>Газовые котельные</li>
      <li>Паровые котельные</li>
      <li>Водогрейные котельные</li>
      <li>Эксплуатация котельной</li>
      <li>Ремонт котельной</li>
      <li>Регламентные работы</li>
      <li>Подготовка к отопительному сезону</li>
    </ul>
  </div>
  <div class="col" style="font-weight: bold; font-size: 19px; text-decoration: underline">
    Ввод в эксплуатацию <br>
    Монтаж ИТП <br>
    Получение тех. условий <br>
    Комплектация и поставка оборудования <br>
    Диспетчеризация <br>
    Эксплуатация котельных
  </div>
</div>
